h1 {
  /*font-weight: bold;*/
}

.result img {
  border-radius: 50%;
  margin-right: 10px;
}

.result a {
  text-decoration: none;
  /*font-weight: bold;*/
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.row {
  margin-top: 100px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 200%;
  margin-bottom: 5px;
}

li:first-child {
  margin-top: 10px;
}
